<div *ngIf="loading">
  Carregando...
</div>

<div class="row">
  <form *ngIf="!loading" [formGroup]="form" class="col-12 col-md-6">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input class="form-control" formControlName="nome" id="nome" placeholder="Nome" type="text">
    </div>

    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input class="form-control" formControlName="cpf" id="cpf" placeholder="CPF" type="text" cpf [textMask]="{mask: MASKS.cpf.textMask}" appValidateControl>
    </div>

    <div class="form-group">
      <label for="cep">CEP:</label>
      <input class="form-control" formControlName="cep" id="cep" placeholder="CEP" type="text" cep [textMask]="{mask: MASKS.cep.textMask}" appValidateControl>
    </div>

    <div class="form-group">
      <label for="logradouro">Logradouro:</label>
      <input class="form-control" formControlName="logradouro" id="logradouro" placeholder="Logradouro" type="text" appValidateControl>
    </div>

    <div class="form-group">
      <label for="bairro">Bairro:</label>
      <input class="form-control" formControlName="bairro" id="bairro" placeholder="Bairro" type="text" appValidateControl>
    </div>

    <div class="form-group">
      <label for="localidade">Localidade:</label>
      <input class="form-control" formControlName="localidade" id="localidade" placeholder="Localidade" type="text" appValidateControl>
    </div>

    <div class="form-group">
      <label for="uf">UF:</label>
      <app-uf-selector formControlName="uf" id="uf" appValidateControl>
      </app-uf-selector>
    </div>

    <button (click)="save()" class="btn btn-primary" type="submit">
      Salvar
    </button>

    <button (click)="goList()" class="btn btn-secondary ml-1" type="submit">
      Cancelar
    </button>
  </form>

</div>
